@import './mixins/mixins.scss';

$main-backgroundColor: rgba(0, 10, 11, 1);
$secondary-color: rgba(0, 209, 180, 1);
$main-text-color: #fff;

$fontFamily: 'Open Sans', sans-serif;

$mobile: 768px;

%fonts {
  font-family: $fontFamily;
  font-style: normal;
}

%fz-60-82 {
  @include adaptive(font-size, 60, 20);
  @include adaptive(line-height, 82, 27);
}

%fz-36-49 {
  @include adaptive(font-size, 36, 10);
  @include adaptive(line-height, 49, 14);
}

%fz-18-25 {
  @include adaptive(font-size, 18, 12);
  @include adaptive(line-height, 25, 16);
}
